s3fs
scikit-image
tensorflow
keras
mlflow>=2.0
scikit-learn
pandas
numpy
boto3
aiohttp==3.7.2
botocore
aiobotocore
Pillow
protobuf
psycopg2-binary
tqdm
tables
authlib
apache-airflow-providers-celery
apache-airflow-providers-cncf-kubernetes
